<% if(!user){ %>   
<div class="jumbotron">
     <div class="container">
         <h1>This is Micro Blog</h1>
         <p>Welcome to cool micro blog demo</p>
         <a class="btn btn-primary btn-lg" href="login" role="button">Login</a>
         <a class="btn btn-lg" href="/reg" role="button">Enroll</a>
     </div>
 </div>
 <%} else { %>
 <% include say %>
 <% } %>
 <% include posts %>
