<% if (!user) { %>
	<div class="hero-unit">
		<h1>Hello World!  Microblog</h1>
		<p>Microblog This blog is base on Node.js and Mongo DB </p>
		<p>
			<a class="btn btn-primary btn-large" href="/login">Log in</a>
			<a class="btn btn-large" href="/reg">Reg</a>
		</p>
	</div>
<% } else { %>
<% include say %>
<% } %>
<% include posts %>
