<!DOCTYPE >
<html>
	<head>
		<title><%= title %> - Microblog</title>
		<link rel='stylesheet' href='/css/bootstrap.css' />
		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
		</style>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
	</head>
    <body>
	    <div class="container">
            <div class="navbar navbar-default">
                <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Microblog</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li <% if(cpage === 'home'){%> class="active"<%}%>><a href="/">Home Page</a></li>
                    <% if (!user) { %>
                    <li <% if(cpage === 'login'){%> class="active"<%}%>><a href="/login">Login</a></li>
                    <li <% if(cpage === 'reg'){%> class="active"<%}%>><a href="/reg">Reg</a></li>
                    <% } else { %>
                    <li <% if(cpage === 'users'){%> class="active"<%}%>><a href="/users">User Profile</a></li>
                    <li><a href="/logout">Log Out</a> </li>
                    <% } %>
                </ul>
                </div>
            </div>
	    </div>
	<div id="container" class="container">
	<% if (success) { %>
		<div class="alert alert-success">
	<%= success %>
		</div>
	<% } %>
	<% if (error) { %>
		<div class="alert alert-error">
	<%= error %>
		</div>
	<% } %>
		<%- body %>
		<hr />
		<footer>
			<p>@copyrigt  2015</p>
		</footer>
	</div>
</body>
<script src="/js/jquery-2.1.1.min.js"></script>
<script src="/js/bootstrap.js"></script>
</html>
